.datePickerWrapper {
  padding: 16px;
  padding-bottom: 8px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.topAlignedRow td {
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
}

.switchWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 8px 0 0 0;
  align-items: center;
}

.multipleSelectionToggleButtonWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.totalGovWrapper {
  padding: 0 16px 40px 16px;
}

.editIcon {
  background: none;
  border: none;
  cursor: pointer;
}

.editIcon:hover {
  color: #1890ff; /* Change to the color you want when hovering */
}

.editIcon:active {
  transform: scale(0.9); /* Makes the icon slightly smaller when clicking */
}

.crWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.checkboxItems {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  cursor: pointer;
}
