.datePickerWrapper {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}

.topAlignedRow td {
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
}

.switchWrapper {
  padding: 8px 16px 0 16px;
}
