.horizontalNavBar {
  background-color: #fefefe;
  padding: 8px;
}
.horizontalNavBarDarkTheme {
  background-color: #1c1c1c;
  padding: 8px;
}

.mainContents {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 16px;
}

.avatarText {
  user-select: none;
}
