.chartsWrapper {
  display: flex;
  padding: 24px 16px 24px 16px;
  flex-wrap: wrap;
  gap: 24px;
}

.individualChartWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
