.generateBill {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContents {
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.billMainContents {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.datePickerWrapper {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.vendorBillsDisplayWrapper {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  height: 100%;
  padding-bottom: 48px;
}

.listItemMainWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.titleAndHeaderWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.listItemtitle {
  display: flex;
  gap: 16px;
  font-weight: 700;
  font-size: 16px;
}

.listItemHeader {
  font-weight: 100;
  font-size: 16px;
}

.listItemInputTitle {
  display: flex;
  flex-direction: row;
  font-weight: 100;
  font-size: 16px;
  gap: 16px;
}

.paidTextAndSwitchWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editRemarkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.editIcon {
  background: none;
  border: none;
  cursor: pointer;
}

.editIcon:hover {
  color: #1890ff; /* Change to the color you want when hovering */
}

.editIcon:active {
  transform: scale(0.9); /* Makes the icon slightly smaller when clicking */
}

.amountWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.billMainContents {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.vendorPriceFromAppWrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-weight: 700;
}
